
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign sale_on = false %}
{%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price
-%}
{%- assign sale_on = true -%}
{%- endif -%}

 <div class="mobile_title">
      <h1 class="product-single__title">{{ product.title }}</h1>
      <div class="product__price">
        {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
      </div>
    </div> 


                                        