.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .15s linear,z-index .15;
  -o-transition: opacity .15s linear,z-index .15;
  transition: opacity .15s linear,z-index .15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-model-main[open] {
  z-index: 99999;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0,-25%);
  -ms-transform: translate(0,-25%);
  transform: translateY(-25%);
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}
.custom-model-main[open] .custom-model-inner {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0);
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  position: relative;
  z-index: 999;
}
.custom-model-main[open] .bg-overlay {
  background: rgba(0,0,0,.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0,0,0,0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #000;
}
.custom-model-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.model-open-fixed {
  overflow: hidden;
}
.model-open-fixed .page-container {
	transform: none;
    transition: unset;
}
.custom-model-main div:empty {
  display: block;
}