
<div class="insta-feed">
  {% include 'instafeed' %}
</div>

<div class="section-header">
  {% if section.settings.heading != blank %}
  	<h2 class="insta_title text-center">{{ section.settings.heading }}</h2>
  {% else  %}
  	<h2 class="insta_title text-center">Follow us on Instagram</h2>
  {% endif %}
</div>

<div id="myInstafeed" class="instafeed_custom grid grid--view-items"></div>



{% schema %}
  {
    "name": "Instafeed Custom",
    "settings": [
	{
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
	],
	"presets": [
    {
      "name": "Instafeed",
      "category": "Image"
    }
  ]
  }
{% endschema %}