<div class="page-width">
    <div class="section-header text-center">
      <h4 class="h4" data-popup-id="popup_main-1" data-popup-button>Your Title</h4>
    </div>

    <popup-details class="custom-model-main" id="popup_main-1">
        <div class="custom-model-inner">
            <div class="close-btn" data-popup-close>×</div>
            <div class="custom-model-wrap">
                <div class="pop-up-content-wrap">
                    <img src="//boxfetti.ae/cdn/shop/files/Screen_Shot_2023-05-_4.png?v=1690891343">
                </div>
            </div>
        </div>
        <div class="bg-overlay"></div>
    </popup-details>
  
</div>

