.header--sticky {
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
  }
  
  .fixed {position: fixed;top: 0;left: 0;right: 0;animation: smoothScroll 1s forwards;z-index: 9999;}
  @keyframes smoothScroll {
    0% {transform: translateY(-100px);}
    100% {transform: translateY(0px);}
  }